<h1>Olá Handlebars!</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos </p>
<p> {{texto}} </p>

{{#if auth}}
    <p>
        Você está autenticado! <a href="/dashboard"> clique aqui para acessar o dashboard </a>
    </p>
{{/if}}