/*geral*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.box{
    width: 450px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.column{
    width: 100%;
}
.logo{
    align-self: center;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

/*navbar*/
nav{
    display: flex;
    padding: 15px 40px;
    background-color: #114;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav ul{
    display: flex;
    margin-left: auto;
}
nav ul li{
    margin: 0 20px;
    list-style: none;
}
/*formulario*/
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-right: 0.5em;
}
.form-control input,
.form-control textarea{
    padding: 0.8em;
    border-radius: 5px;
}
form .confirm-button{
    text-align: center;
    font-weight: bold;
    min-width: 75px;
    min-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #114;
}

/*Cards*/
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}
.container a{
    font-weight: bold;
    color: #000;
}
.container .item{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    list-style: none;
}
.align-right{
    text-align: right;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1.2em;
}

.actions i:hover{
    color: #11f;
}
