header{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-bottom: 1px solid var(--color-tertiary);
    display: flex;
    justify-content: center;
}
header .topbar{
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header nav .menu-item{
    margin: 10px 20px;
    cursor: pointer;
    display: inline;
}