.card-container{
    max-width: 400px;
    border: 1px solid var(--color-tertiary);
}
.card-container .card-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.card-container .card-title{
    font-size: 30px;
}