<h1>Criar Produto</h1>

<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name">Nome do produto</label>
        <input type="text" name="name">
    </div>
    <div class="form-control">
        <label for="price">Preço do produto</label>
        <input type="text" name="price">
    </div>
    <div class="form-control">
        <label for="description">Descrição do produto</label>
        <input type="text" name="description">
    </div>
    <div class="form-control">
        <label for="image">URL da imagem do produto</label>
        <input type="text" name="image">
    </div>
    <input type="submit" value="cadastrar"class="btn">
</form>