<h1>Adicionar usuário</h1>

<form action="/users/create" class="box" method="POST">
    <div class="form-control">
        <label for="name"> Nome:</label>
        <input type="text" name="name" placeholder="Seu nome">
    </div>
    <div class="form-control">
        <label for="ocupation">Ocupação</label>
        <input type="text" name="occupation" placeholder="Sua ocupação">
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Desejo receber promoções</label>
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>