<h1>Criar Produto</h1>

<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name-input">Nome do produto</label>
        <input id="name-input" type="text" name="name">
    </div>
    <div class="form-control">
        <label for="sku-input">SKU</label>
        <input id="sku-input" type="text" name="sku">
    </div>
    <div class="form-control">
        <label for="price-input">Preço do produto</label>
        <input id="price-input" type="text" name="price" step="0.01" min="0">
    </div>
    <div class="form-control">
        <label for="description-input">Descrição do produto</label>
        <input id="description-input" type="text" name="description">
    </div>
    <div class="form-control">
        <label for="featured-image-input">Imagem Destaque</label>
        <input id="featured-image-input" type="text" name="featured-image">
    </div>
    <div class="form-control">
        <button type="button" id="add-gallery-input">Inserir mídia na galeria</button>
    </div>
    <div class="form-gallery">

    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>
