<h1>Criação de Task</h1>
<form action="/tasks/add" class="box" method="POST">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <textarea type="text" name="description" id="description" placeholder=""></textarea>
    </div>
    <input type="submit" class="confirm-button box">
    </input>
</form>