<h1>Edite o livro</h1>
<form action="/books/updatebook" method="post" class="box">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Informe o título" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pageqty">Número de páginas</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?" value="{{book.pageqty}}">
    </div>
    <input type="submit" value="Salvar">
</form>