<h1>Olá Sequelize</h1>

<div class="box">
    {{#each users}}
    <div class="item">
        <h4> {{this.name}} </h4>
        <p> {{this.occupation}} </p>
        <hr>
    </div>
    {{/each}}
</div>
