/*Geral*/

html, body{
    height: 100%;
    color:#fff;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
h2, h1{
    margin-bottom: 1em;
    border-left: 4px solid #d70;
    padding: 0.3em;
}

/*navbar*/
#navbar{
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #d70;
}
#navbar a{
    color:#fff
}
#logo img{
    height: 40px;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    margin-left: 1.2em
}
#navbar ul li a{
    text-decoration: none;
    font-weight: bold;
}
#navbar ul li .active{
    color: #d70;
}
#navbar ul li a:hover{
    color: #dd3;
}
/*mensagens*/
.message{
    padding:1em;
    color: #d70;
    background-color: #222;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}
/*conteudo*/
.content{
    margin: 2em;
    flex: 1 0 auto;
}
.content a{
    color: #d70;
    text-decoration: none;
}

/*login e registro*/
.auth-container{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container a{
    color: #d70;
    text-decoration: none;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form-control input, .form-control textarea{
    background-color: #000;
    color: #aaa;
    padding: 0.3em;
    border-width: 0 1px 1px 0
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.5em;
}
form input[type = 'submit']{
    background-color: #000;
    color: #d70;
    padding: 0.5em;
    height: 40px;
    display: flex;
    margin-left: auto;
    border-color: #d70;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: .3s;
}
form input[type = 'submit']:hover{
    background-color: #d70;
    color: #000;
    transition: .3s;
}

/*dashboard*/
.dashboard{
    display: flex;
    flex-direction: column;
}
.btn-container{
    display: flex;
    align-content: center;
}
.btn-container .btn{
    background-color: #d70;
    color: #000;
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/*Criar / editar thought*/
.thought-form-container{
    display: flex;
    justify-content: center;
}


.thought-form{
    width: 30%;
    min-width: 300px;

}

/* rodapé*/
footer{
    background-color: #222;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;
    border-top: 1px solid #d70;
}

