
<a href="/dashboard">Voltar</a>
<h1>Criando pensamento:</h1>

<div class="thought-form-container">
    <div class="thought-form">
         <form action="/add" method="POST">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Informe seu pensamento">
        </div>
        <div class="form-control">
            <input type="submit" value="Criar Pensamento">
        </div>
        
        </form>
    </div>
</div>
    
   
</div>