<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2> 
    </div>
        <a href="/add" class="btn">Criar pensamento</a>

    <h3>Seus pensamentos</h3>
    <ul>
        {{#each thoughts}}
            <li>
                <span class="label">
                    {{this.title}}
                </span>
                <span class="actions">
                    <a href="/edit/{{this.id}}" class="btn">Editar</a>

                    <form action="/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyThoughts}}
        <p>Nenhum pensamento ainda,<a href="/add">publique seus penasmentos agora</a></p>
    {{/if}}
</div>