<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2> 
    </div>
    <div class="btn-container">
        <a href="/add" class = 'btn'>Criar pensamento</a>
    </div>

    <h3>Seus pensamentos</h3>
</div>